html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}



header {
    background-color: rgb(45, 45, 45);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    height: 10vh;
}

header figure {
    width: 90vw;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_5sfoam {
}

header nav {
    width:10vw;
    color: white;
    display: flex;
    align-items: center;
}

.menu-button {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    filter: invert(1);
    position: relative;
    z-index: 1;
  }

.x-icon {
    display: none;
    text-align: center;
    filter: invert(1);
}


nav .nav_options {
    display: none;
}



header nav ul li{
    padding-left: 40px;
    list-style: none;
}

header nav ul a {
    text-align: center;
    color: white;
    list-style: none;
    text-decoration: none;
}

nav .nav_options.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(45, 45, 45) ;
}

.nav_options.active li {
    font-size: 2.5rem;
    padding: 2rem;
    color: #FFFF;
    font-weight: bold;
}

.nav_options.active a:hover {
    color: red;
}

.menu-button.hide {
    display: none;
}

.x-icon.show {
    display: flex;
    position: relative;
    z-index: 1;
}

@media screen and (min-width: 768px){

    body{    
        overflow-x: hidden;
     }

    header {
        justify-content:flex-start;     
    }

    header figure {
        width: 40vw;
        justify-content: flex-start;
        padding-right: 4rem;
    }

    header nav {
        width: 60vw;
        font-size: 2rem;
        justify-content: flex-end;
    }

    nav .nav_options a {
        font-weight: bold;
    }

    nav .nav_options a:hover {
        color: red;
    }


    .menu-button {
        display: none;
    }

    nav .nav_options {
        display: flex;
    }
}
