:root {
    --gris-oscuro: rgb(45, 45, 45);
    --rojo: #EC3337;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
    background-color: var(--gris-oscuro);
    background-image: url("../imgs/asfalt-dark\ \(1\).png");
}

* {
    margin: 0;
    padding: 0;
}

/*Header / Nav*/

header {
    background-color: var(--gris-oscuro);
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

header .logo_5sfoam {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2rem;
}

header .navbar-icon-cont{
    width: 15%;
}

.menu-button {
    display: flex;
    align-items: center;
    text-align: center;
    filter: invert(1);

    position: relative;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.x-icon {
    display: none;
    text-align: center;
    filter: invert(1);

    position: relative;
    top: 0.5rem;
    right: 1rem;
}

header nav {
    color: white;
    display: flex;
    align-items: center;
}

nav .nav_options {
    display: none;
}


header nav ul li{
    padding-left: 4rem;
    list-style: none;
}

header nav ul a {
    text-align: center;
    color: white;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease;
}

.redes-cont {
    display: none;
    align-items: center;
}

.redes-cont figure {
    width: 100%;
    height: 100%;
}

.redes-cont figure a {
    justify-content: center;
    align-content: center;
}

.redes-cont img {
    height: 100%;
    width: 3.5rem;
    align-items: center;
}



nav .nav_options.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gris-oscuro);
}

.nav_options.active .redes-cont {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 1%;    
    width: 80%;
    margin: 0 auto;
    justify-content: center;
}

.nav_options.active li {
    font-size: 2.5rem;
    padding: 2rem;
    color: #FFFF;
    font-weight: bold;
}

.nav_options.active a:hover {
    color: var(--rojo);
}

.menu-button.hide {
    display: none;
}

.x-icon.show {
    display: flex;
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 1;
    cursor: pointer;
}

/*Main*/

main section {
    display: flex;
}

main .entrada-contenedor {
    overflow: hidden;
    min-height: 58rem;
    background-color: rgba(0, 0, 0, 0.182);

}

main .entrada-contenedor h2{
    font-size: 2.4rem;
}

main .entrada-contenedor .back-video{
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    min-height: 58rem;
}

main .texto-entrada-cont {
    padding: 5% 5%;
    color: #FFF;
}

main section .texto-entrada-cont .espum-cont {
    font-size: 1rem;
    margin-bottom: 1.6rem;
}

main section .texto-entrada-cont .espum-cont img{
    min-width: 55%;
    max-width:max-content;
}

main section .texto-entrada-cont .pasos-cont{
    max-width: 70%;
}

main section .texto-entrada-cont .pasos-cont h2{
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

main section .texto-entrada-cont .pasos-cont figure {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}

main section .texto-entrada-cont .pasos-cont figure span {
    font-size: 2.4rem;
    padding-left: 1rem;
}

main section .texto-entrada-cont .pasos-cont div figure img{
    width: 2rem;
}

main section .texto-entrada-cont .boton-contacto-cont {
    margin-top: 15rem;
}

main section .texto-entrada-cont .boton-contacto-cont a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 2.4rem;
    font-weight: 600;

    background-color: var(--rojo);
    padding: 1.6rem 2.2rem;
    transition: all 0.3s ease;
}

main section .texto-entrada-cont .boton-contacto-cont a:hover {
    background-color: #ee4e50;
}

/*ABOUT*/

main .about-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;

    color: white;
    margin-top: 5rem;
    margin-bottom: 4.8rem;
}

main .about-container .about-text-cont {
    display: flex;
    flex-direction: column;
}

main .about-container .about-title-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 4.8rem;
}

.about-container h1,h2 {
    font-size: 2.4rem;
}

main .about-container .que-son {
    display: flex;
    flex-direction: column;
}

main .about-container .about-text-cont {
    width: 100%;
    display: flex;
}

main .about-container .about-text p{
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 2.4rem;
}

main .about-container .about-text-cont .about-imgs-cont {
    width: 90%;
    height: auto;

    margin: 0 auto;
    justify-content: center;
}

main .about-container .about-text-cont .about-imgs-cont figure {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .about-container .about-text-cont .about-imgs-cont figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    -webkit-box-shadow: -12px 23px 69px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 23px 69px -9px rgba(0,0,0,0.75);
    box-shadow: -12px 23px 69px -9px rgba(0,0,0,0.75);
}

.about-container .about-text .benefit-cont .benefit-title-cont {
    display: flex;
    width: 100%;
}

.about-container .about-text h2 {
    font-size: 250%;
    margin-bottom: 1.4rem;
    text-transform: uppercase;
}

.about-container .benefit-cont .orga-title {
    font-size: 2rem;
    position: relative;
    top: 0.5rem;
}

.benefit-cont {
    margin-bottom: 3.2rem;
    background-color: rgba(0, 0, 0, 0.182);
    box-shadow: black   ;
    padding: 2.4rem 2.4rem 3.2rem 2.4rem;
    border-radius: 2rem;

    -webkit-box-shadow: -12px 23px 69px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -12px 23px 69px -9px rgba(0,0,0,0.75);
    box-shadow: -12px 23px 69px -9px rgba(0,0,0,0.75);
}

.benefit-cont figure {
    height: 100%;
    align-items: center;
    margin-right: 0.8rem;
    margin-bottom: 3.2rem;
}

.benefit-cont img {
    width: 4rem;
    height: 100%;
    align-items: center;
}

.about-container .img-gal1 {
    display: flex;
    border: dotted #EC3337;
}

.about-container .img-gal2 {
    display: none;
}

.about-container .img-gal3 {
    display: none;
}

.about-container .img-gal4 {
    display: none;
}

main .about-container .boton-galeria-cont {
    text-align: center;
    margin-top: 3.4rem;
}

main .about-container .boton-galeria-cont a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    font-size: 2.4rem;
    color: #FFF;

    background-color: var(--rojo);
    padding: 1.6rem 2.2rem;
    transition: all 0.3s ease;
}

main .about-container .boton-galeria-cont a:hover {
    background-color: #e64042;
}

.preview-box {
    position: fixed;
    width: 100%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--rojo);
    padding: 0 0.5rem 0.5rem 0.5rem;
    border: 0.3rem;
    box-shadow: 0px 0px 10rem rgba(0, 0, 0, 0.853);
    display: none;
    pointer-events: none;
    z-index: 4;
    overflow: hidden;

}

.preview-box .img-box {
    width: 100%;
    height: 100%;
}

.preview-box .image-cont {
    width: 100%;
    height: 100%;
}

.preview-box .image-cont .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-box.show {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    transform: all 0.3s ease;
}

.preview-box .details {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.5rem 1.2rem 1rem;
    align-items: center;
}

.preview-box .details .icon{
    cursor: pointer;
    font-size: 3rem;
}

.details .title {
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
}

.details .title p {
    margin: 0 0.5rem;
}

.details .title p.current-img {
    font-weight: 600;
}

.preview-box .img-box {
    display: flex;
    width: 100%;
}

.img-box .slide {
    width: 10%;
    position: absolute;
    top: 45%;
    cursor: pointer;
    filter: invert(100%);
}

.img-box .slide.prev {
    left: 0;
    transform: rotate(180deg);
}

.img-box .slide.next {
    right: 0;
}

.preview-box .img-box img {
    width: 100%;
    border-radius: 0 0 0.3rem 0.3rem;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 3;
}


/*TABLETAS*/

@media screen and (min-width: 767px) and (max-width:1023px){

    main .about-container .about-text-cont{
        flex-direction: row;
    }

    main .about-container .about-text-cont .about-text {
        width: 50%;
    }

    
    .about-container .about-title-cont h1, h2 {
        font-size: 3.2rem;
    }

    .about-container .about-text-cont .about-text p {
        font-size: 1.6rem;
    }

    main .about-container .about-text .about-lastp {
        margin-bottom: 0;
    }

    main .about-container .about-text-cont .about-imgs-cont {
        width: 50%;
        padding-left: 1.4rem;
        justify-content: center;
    }

    .preview-box {
    height: 100%;

    }

}

/*PCs / LAPTOPs*/

@media screen and (min-width: 1023px) {

    /*Header / nav*/

    header .logo_5sfoam {
        justify-content: flex-start;
        width: 50vw;
        padding-left: 4rem;
    }

    header .navbar-icon-cont {
        width: 50%;
        justify-content: flex-end;
    }

    header nav {
        width: 60vw;
        font-size: 2rem;
        justify-content: flex-end;
        padding-right: 10rem;
    }

    nav .nav_options a {
        font-weight: bold;
    }

    nav .nav_options a:hover {
        color: red;
        
    }

    .menu-button {
        display: none;
    }

    nav .nav_options {
        display: flex;
    }

    /*MAIN  ENTRADA*/

    main .entrada-contenedor {
        padding-top: 1.6rem;
        display: flex;
    }

    main .entrada-contenedor .back-video{
        margin-top: 0.8rem;
        width: 60%;
        height: 64rem;
        object-fit: cover;
        position: relative;
        order: 2;
    }

    main .entrada-contenedor .texto-entrada-cont {
        width: 40%;
    }

    main .texto-entrada-cont {
        padding: 6% 5%;
        color: #FFF;
    }

    main section .texto-entrada-cont .pasos-cont h2{
        font-size: 4rem;
        margin-bottom: 3.2rem;
    }

    main section .texto-entrada-cont .pasos-cont div figure img{
        width: 2.4rem;
    }

    main section .texto-entrada-cont .pasos-cont div figure span{
        font-size: 3.2rem;
    }

    main .entrada-contenedor .texto-entrada-cont h2 {
        font-size: 2.8rem;
    }

    main .entrada-contenedor .texto-entrada-cont img {
        width: 40rem;
    }

    main section .texto-entrada-cont .espum-cont {
        font-size: 1rem;
        margin-bottom: 2.4rem;
    }
    
    main section .texto-entrada-cont .pasos-cont{
        max-width: 100%;
    }

    main section .texto-entrada-cont .boton-contacto-cont{
        margin-top: 6.2rem;
    }

    main section .texto-entrada-cont .boton-contacto-cont a{
        font-size: 3.2rem;
        padding: 1.8rem 2.4rem;
    }

    /*About 5sFOAM*/

    main .about-container {
        width: 90%;
        margin: 0 auto;
        margin-top: 4.8rem;
        margin-bottom: 2.4rem;
        flex-direction: column;
    }

    main .about-container .about-title-cont {
        justify-content: start;
        margin-bottom: 7.2rem;
    }

    main .about-container h1,h2 {
        font-size: 4.8rem;
    }
    
    main .about-container .about-text {
        padding-right: 3.2rem;
    }

    main .about-container .about-text-cont{
        flex-direction: row;
    }

    main .about-container .about-text-cont .about-text p{
        font-size: 2.4rem;
    }

    main .about-container .about-text-cont .about-text {
        width: 45%;
    }

    .about-container .about-text h2 {
        font-size: 4rem;
        margin-bottom: 1.4rem;
        text-transform: uppercase;
    }

    .about-container .benefit-cont .orga-title {
        font-size: 4rem;
        top: 0;
    }

    .benefit-cont {
        margin-bottom: 6.4rem;
        padding: 4rem;
        width: 80%;
    }

    .benefit-cont img {
        width: 5rem;
        height: 100%;
        align-items: center;
    }

    .benefit-cont:hover {
        transform: scale(1.12);
        transition: all ease-out 150ms;
    }

    main .about-container .about-text-cont .about-imgs-cont {
        width: 55%;
        height: auto;
        padding-left: 1.6rem;

        justify-content: center;
    }

    main .about-container .about-text-cont .about-imgs-cont figure {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main .about-container .about-text-cont .about-imgs-cont figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    main .about-container .about-imgs-cont {
        margin-top: 0;
    }

    .about-container .img-gal1 {
        display: flex;
        border: none;
    }
    
    .about-container .img-gal2 {
        display: flex;
    }
    
    .about-container .img-gal3 {
        display: flex;
    }
    
    .about-container .img-gal4 {
        display: flex;
    }

    main .about-container .about-imgs-cont {
        width: 90%;
        height: 50%;
        margin: 0 auto;
        display: grid;
        font-size: 1.5rem;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1.6rem;
        grid-column-gap: 1.6rem;
        justify-items: center;
    
    }
    
    .about-imgs-cont figure {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        overflow: hidden;
        border: dotted #e64042;
    }
    
    .about-imgs-cont img {
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
    }

    .about-imgs-cont img:hover {
        filter:opacity(70%);
        transform: scale(1.1);
        cursor: pointer;
    }

    
    .preview-box {
        position: fixed;
        max-width: 60%;
        width: 100%;
        height: 100%;
        padding: 0 0.5rem 0.5rem 0.5rem;
        border: 0.3rem;
    }

    .preview-box .image {
        width: 100%;
    }

    .boton-galeria-cont {
        display: flex;

        width: 40%;
        justify-content: center;
    }

    main .about-container .boton-galeria-cont {
        margin-top: 0;
        width: 40%;
    }
}

@media screen and (min-width:1920px){

    main .entrada-contenedor {
        padding-bottom: 4.8rem;
    }

    main .entrada-contenedor .back-video {
        height: 81rem;
    }
}