:root {
    --gris-oscuro: rgb(45, 45, 45);
    --rojo: #EC3337;

    --title-font: 'Oswald', sans-serif;
    --cont-font: 'PT Sans', sans-serif;
    
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
    background-color: var(--gris-oscuro);
    background-image: url("../imgs/asfalt-dark\ \(1\).png");
}


* {
    margin: 0;
    padding: 0;

    scrollbar-width: thin;
    scrollbar-color: #EE3333 #242424;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #242424;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #303030;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #303030;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 11px;
    background-color: #EE3333;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #EE3333;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #EE3333;
  }

  h1, h2 {
    font-family: var(--title-font);
  }

 a, p, span {
    font-family: var(--cont-font);
}


/*Header / Nav*/

header {
    background-color: var(--gris-oscuro);
    display: flex;
    justify-content: space-around;
    height: 10vh;
}

header .logo_5sfoam {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 2rem;
}

header .navbar-icon-cont{
    width: 15%;
}

.menu-button {
    display: flex;
    align-items: center;
    text-align: center;
    filter: invert(1);

    position: relative;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
}

.x-icon {
    display: none;
    text-align: center;
    filter: invert(1);

    position: relative;
    top: 0.5rem;
    right: 1rem;
}

header nav {
    color: white;
    display: flex;
    align-items: center;
}

nav .nav_options {
    display: none;
}


header nav ul li{
    padding-left: 4rem;
    list-style: none;
}

header nav ul a {
    text-align: center;
    color: white;
    list-style: none;
    text-decoration: none;
    transition: all 0.3s ease;
}

.redes-cont {
    display: none;
    align-items: center;
}

.redes-cont figure {
    width: 100%;
    height: 100%;
}

.redes-cont figure a {
    justify-content: center;
    align-content: center;
    padding-left: 2rem;
}

.redes-cont img {
    height: 100%;
    width: 3.5rem;
    align-items: center;
}

nav .nav_options.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--gris-oscuro);
    z-index: 2;
}

.nav_options.active .redes-cont li {
    width: auto;
    padding-left: 0;
}

.nav_options.active .redes-cont {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 10%;    
    width: 100%;
    justify-content: center;
}

.nav_options.active li {
    font-size: 3.5rem;
    color: #FFFF;
    font-weight: bold;

    width: 100%;
}

.nav_options.active .home {
    position: absolute;
    top: 16%;
    right: 50%;
    left: 0%;
}

.nav_options.active .home a{
    text-decoration: underline #EC3337 0.5rem;
    text-underline-offset: 5px;
}

.nav_options.active .galeria {
    position: absolute;
    top: 24%;
    right: 50%;
    left: 0%;
}
.nav_options.active .galeria a{
    text-decoration: underline #EC3337 0.5rem;
    text-underline-offset: 5px;
}
.nav_options.active .blog {
    position: absolute;
    top: 32%;
    right: 50%;
    left: 0%;
}

.nav_options.active .blog a{
    text-decoration: underline #EC3337 0.5rem;
    text-underline-offset: 5px;
}

.nav_options.active .nosotros {
    position: absolute;
    top: 40%;
    right: 50%;
    left: 0%;
}

.nav_options.active .nosotros a{
    text-decoration: underline #EC3337 0.5rem;
    text-underline-offset: 5px;
}

.nav_options.active .contacto {
    position: absolute;
    top: 48%;
    right: 50%;
    left: 0%;
}

.nav_options.active .contacto a{
    text-decoration: underline #EC3337 0.5rem;
    text-underline-offset: 5px;
}


.nav_options.active a:hover {
    color: var(--rojo);
    text-decoration: underline #FFF 0.5rem;
}

.menu-button.hide {
    display: none;
}

.x-icon.show {
    display: flex;
    position: fixed;
    top: 3rem;
    right: 2rem;
    z-index: 3;
    cursor: pointer;
}

/*Main*/

main section {
    display: flex;
}

main .entrada-contenedor {
    overflow: hidden;
    min-height: 58rem;
    background-color: rgba(0, 0, 0, 0.182);
}

main .entrada-contenedor h2{
    letter-spacing: 0.1rem;
    font-size: 2.4rem;
}

main .entrada-contenedor .back-video{
    position: absolute;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    min-height: 58rem;
}

main .texto-entrada-cont {
    padding: 4.7% 5%;
    color: #FFF;
}

main section .texto-entrada-cont .espum-cont {
    font-size: 1rem;
    margin-bottom: 1.6rem;
}

main section .texto-entrada-cont .espum-cont img{
    min-width: 55%;
    max-width:max-content;
}

main section .texto-entrada-cont .pasos-cont{
    max-width: 90%;
}

main section .texto-entrada-cont .pasos-cont h2{
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1.6rem;
}

main section .texto-entrada-cont .pasos-cont figure {
    display: flex;
    align-items: center;
    margin-bottom: 1.8rem;
}

main section .texto-entrada-cont .pasos-cont figure span {
    font-size: 2.4rem;
    padding-left: 1rem;

    font-weight: bold;
}

main section .texto-entrada-cont .pasos-cont .org{
    margin-bottom: 0;
}


main section .texto-entrada-cont .pasos-cont div figure img{
    width: 2rem;
}

main section .texto-entrada-cont .boton-contacto-cont {
    margin-top: 14rem;
}

main section .texto-entrada-cont .boton-contacto-cont a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-size: 2.4rem;
    font-weight: bold;

    background-color: var(--rojo);
    padding: 1.6rem 2.2rem;
    transition: all 0.3s ease;
}

main section .texto-entrada-cont .boton-contacto-cont a:hover {
    background-color: #ee4e50;
}

/*A B O U T*/

main .about-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;

    color: white;
}

main .about-container .about-title-cont {
    position: relative;
    margin-bottom: 4.8rem;
    background-color: #EC3337;

    background-color: #EC3337;
    -webkit-box-shadow: 0px 0px 16px 10px rgba(99,99,99,0.17);
    -moz-box-shadow: 0px 0px 16px 10px rgba(99,99,99,0.17);
    box-shadow: 0px 0px 16px 10px rgba(99,99,99,0.17);

}

.about-container .title-cont h1{
    position: relative;
    z-index: 1;
    word-spacing: 0.1rem;
    letter-spacing: 2px;
    font-size: 3.2rem;
}

.about-container .title-cont h2{
    position: relative;
    z-index: 1;
    word-spacing: 0.1rem;
    letter-spacing: 2px;
    font-size: 3.2rem;
    align-self: center;
}

.about-container .title-cont {
    position: relative;
    width: 90%;
    padding: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 400;
}

.triangle {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.triangle svg {
    position: relative;
    display: block;
    width: calc(100% + 960.3px);
    height: 25.9rem;
}

.triangle .shape-fill {
    fill: #EC3337;
}

.about-container .title-cont h1, h2{
    word-spacing: 0.1rem;
    letter-spacing: 2px;
    font-size: 4rem;
    align-self: center;
}

main .about-container .about-width {
    width: 90%;
    margin: 0 auto;

    position: relative;
}

main .about-container .about-text-cont {
    display: flex;
    flex-direction: column;
    
}


main .about-container .about-text-cont {
    width: 100%;
    display: flex;
}

main .about-container .about-text p{
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 1.6rem;
}

main .about-container .about-text-cont .about-imgs-cont {
    width: 90%;
    height: auto;

    margin: 0 auto;
    justify-content: center;
}

main .about-container .about-text-cont .about-imgs-cont figure {
    object-fit: cover;
}

main .about-container .about-text-cont .about-imgs-cont .image1 {
    border: dashed #FFF;
}

main .about-container .about-text-cont .about-imgs-cont figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.triangle svg {
    position: relative;
    display: block;
    width: calc(100% + 960.3px);
    height: 20.9rem;
  }

.about-container .about-text h2 {
    text-transform: uppercase;
}

.about-container .about-text .benefit-cont .benefit-title-cont {
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.6rem;
}

.benefit-cont h2 {
    font-size: large;
}

.benefit-cont {
    margin-bottom: 3.2rem;
    background-color: rgba(0, 0, 0, 0.182);
    box-shadow: black;
    padding: 2.4rem;
    border-radius: 2rem;

    -webkit-box-shadow: -17px -13px 73px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -17px -13px 73px -13px rgba(0,0,0,0.75);
    box-shadow: -17px -13px 73px -13px rgba(0,0,0,0.75);
}

.org-cont {
    background-image: url('../imgs/org-back-icon.svg');
    background-position-x: calc(8rem);
    background-position-y: calc(1rem);
    background-repeat: no-repeat;
    background-size: 35rem;
}

.vers-cont {
    background-image: url('../imgs/vers-back-icon-black.svg');
    background-position-x: calc(8rem);
    background-position-y: calc(50%);
    background-repeat: no-repeat;
    background-size: 35rem;
}

.res-cont {
    background-image: url('../imgs/prot-back-icon-black.svg');
    background-position-x: calc(8rem);
    background-position-y: calc(50%);
    background-repeat: no-repeat;
    background-size: 35rem;
}

.benefit-cont h2 {
    letter-spacing: 3px;
    font-size: 3rem;
}

.benefit-cont figure {
    display: none;
    height: 100%;
    align-items: center;
    align-self: center;
}

.benefit-cont img {
    width: 3.5rem;
    height: 100%;
    align-items: center;
}

.about-container .img-gal1 {
    display: flex;
    
}

.about-container .img-gal2 {
    display: none;
}

.about-container .img-gal3 {
    display: none;
}

.about-container .img-gal4 {
    display: none;
}

main .about-container .boton-galeria-cont {
    text-align: center;
    margin-top: 4.8rem;
    margin-bottom: 1.6rem;
}

main .about-container .boton-galeria-cont a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4rem;
    color: #FFF;

    background-color: var(--rojo);
    padding: 1.6rem 2.2rem;
    transition: all 0.3s ease;
}

main .about-container .boton-galeria-cont a:hover {
    background-color: #e64042;
}

.preview-box {
    position: fixed;
    width: 100%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--rojo);
    padding: 0 0.5rem 0.5rem 0.5rem;
    border: 0.3rem;
    box-shadow: 0px 0px 10rem rgba(0, 0, 0, 0.853);
    display: none;
    pointer-events: none;
    z-index: 4;
    overflow: hidden;
}

.preview-box .info {
    font-size: 2rem;
}

.preview-box .img-box {
    width: 100%;
    height: 100%;
}

.preview-box .image-cont {
    width: 100%;
    height: 100%;
}

.preview-box .image-cont .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-box.show {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    transform: all 0.3s ease;
}

.preview-box .details {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.5rem 1.2rem 1rem;
    align-items: center;
}

.preview-box .details .icon{
    cursor: pointer;
    font-size: 3rem;
}

.details .title {
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
}

.details .title p {
    margin: 0 0.5rem;
}

.details .title p.current-img {
    font-weight: 600;
}

.preview-box .img-box {
    display: flex;
    width: 100%;
}

.img-box .slide {
    width: 10%;
    position: absolute;
    top: 45%;
    cursor: pointer;
    filter: invert(100%);
}

.img-box .slide.prev {
    left: 0;
    transform: rotate(180deg);
}

.img-box .slide.next {
    right: 0;
}

.preview-box .img-box img {
    width: 100%;
    border-radius: 0 0 0.3rem 0.3rem;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 3;
}

.triangle-bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.triangle-bottom svg {
    position: relative;
    display: block;
    width: calc(150% + 960.3px);
    height: 8.9rem;
}

.triangle-bottom .shape-fill {
    fill: #ec3337;
}

/*B E N E F I T S*/

main .benefits-container {
    display: inline-block;
    width: 100%;
}

main .benefits-container .benefits-title-cont {
    position: relative;
    background-color: #EC3337;
    padding-top: 2rem;
    width: 100%;
    color: #FFF;
    margin-bottom: 0;
}

.benefits-container .title-cont h2{
    padding-left: 1.6rem;
    width: 90%;
    word-spacing: 0.1rem;
    letter-spacing: 1px;
}

.triangle-top-benefits {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.triangle-top-benefits svg {
    position: relative;
    display: block;
    width: calc(350% + 1.3px);
    height: 275px;
}

.triangle-top-benefits .shape-fill {
    fill: #EC3337;
}

.benefits-width {
    margin-top: 3.2rem;
    display: flex;
    position: relative;
    flex-direction: column;
}




/*TABLETAS*/

@media screen and (min-width: 767px) and (max-width:1023px){

    .redes-cont {
        display: none;
        align-items: center;
    }
    
    .redes-cont figure {
        width: 100%;
        height: 100%;
    }
    
    .redes-cont figure a {
        justify-content: center;
        align-content: center;
    }
    
    .redes-cont img {
        height: 100%;
        width: 3.5rem;
        align-items: center;
    }
    
    .nav_options.active .redes-cont li {
        width: auto;
    }
    
    .nav_options.active .redes-cont {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        bottom: 10%;    
        width: 100%;
    }
    
    .nav_options.active li {
        font-size: 6.5rem;
        color: #FFFF;
        font-weight: bold;
    
        width: 100%;
        text-decoration: underline #EC3337 0.5rem;
    }

    .nav_options.active .redes-cont li {
        width: auto;
        padding-left: 5rem;
    }
    
    .nav_options.active .home {
        top: 16%;
        text-align: center;
    }
    
    .nav_options.active .galeria {
        top: 28%;
        text-align: center;

    }
    
    .nav_options.active .blog {
        top: 40%;
        text-align: center;

    }
    
    .nav_options.active .nosotros {
        top: 52%;
        text-align: center;

    }
    
    .nav_options.active .contacto {
        top: 64%;
        text-align: center;

    }
    

    main section .texto-entrada-cont .pasos-cont h2{
        font-size: 3.4rem;
        font-family: Helvetica, sans-serif;
        margin-bottom: 1.6rem;
    }
    
    main section .texto-entrada-cont .pasos-cont figure span {
        font-size: 3.4rem;
        padding-left: 1rem;
    
        font-weight: bold;
    }

    main section .texto-entrada-cont .boton-contacto-cont {
        margin-top: 5rem;
    }

    main .about-container .about-text-cont{
        flex-direction: row;
    }

    main .about-container .about-text-cont .about-text {
        width: 50%;
    }


    
    .about-container .about-title-cont h1, h2 {
        font-size: 4.2rem;
    }

    .triangle svg {
        position: relative;
        display: block;
        width: calc(100% + 960.3px);
        height: 21.9rem;
      }

    .about-container .about-text-cont .about-text p {
        font-size: 1.6rem;
    }

    main .about-container .about-text .about-lastp {
        margin-bottom: 0;
    }

    main .about-container .about-text-cont .about-imgs-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 50%;
        height: auto;
        padding-left: 1.4rem;
    }

    main .about-container .about-text-cont .about-imgs-cont .image1, .image2 {
        width: auto;
        height: 45%;
    }

    main .about-container .about-text-cont .about-imgs-cont figure{
        border: none;
    }

    .about-imgs-cont .img-gal2 {
        display: flex;
    }

    main .about-container .about-text-cont .about-imgs-cont .image1 {
        border: dashed #FFF 3.5px;
    }

    main .about-container .about-text-cont .about-imgs-cont .image2 {
        border: dashed #FFF 3.5px;
    }

    .preview-box {
    height: 100%;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1024px) {
    
    main .about-container .about-text .benefit-cont  h2 {
        font-size: 4rem;
    }

    main .about-container .about-text .benefit-cont  p {
        font-size: 1.6rem;
    }

    main .org-cont {
        background-position-x: calc(255%);
        background-position-y: calc(50%);
        background-repeat: no-repeat;
        background-size: 35rem;
    }
    
    main .vers-cont {
        background-position-x: calc(255%);
        background-position-y: calc(50%);
        background-repeat: no-repeat;
        background-size: 35rem;
    }
    
    main .res-cont {
        background-position-x: calc(-275%);
        background-position-y: calc(0%);
        background-repeat: no-repeat;
        background-size: 45rem;
    }
}

/*PCs / LAPTOPs*/

@media screen and (min-width: 1024px) {

    /*Header / nav*/

    header .logo_5sfoam {
        justify-content: flex-start;
        width: 50vw;
        padding-left: 4rem;
    }

    header .navbar-icon-cont {
        width: 50%;
        justify-content: flex-end;
    }

    header nav {
        width: 60vw;
        font-size: 2rem;
        justify-content: flex-end;
        padding-right: 10rem;

        text-decoration: underline #EC3337 0.5rem;
        text-underline-offset: 5px;
    }

    nav .nav_options a {
        font-weight: bold;
    }

    nav .nav_options a:hover {
        color: red;
        text-decoration: underline #FFF 0.5rem;
        
    }

    .menu-button {
        display: none;
    }

    nav .nav_options {
        display: flex;
    }

    /*MAIN  ENTRADA*/

    main .entrada-contenedor {
        padding-top: 1.6rem;
        display: flex;
    }

    main .entrada-contenedor .back-video{
        margin-top: 0.8rem;
        width: 60%;
        height: 64rem;
        object-fit: cover;
        position: relative;
        order: 2;
    }

    main .entrada-contenedor .texto-entrada-cont {
        width: 40%;
    }

    main .texto-entrada-cont {
        color: #FFF;
    }

    main section .texto-entrada-cont .pasos-cont h2{
        font-size: 4rem;
        margin-bottom: 3.2rem;
    }

    main section .texto-entrada-cont .pasos-cont div figure img{
        width: 2.4rem;
    }

    main section .texto-entrada-cont .pasos-cont div figure span{
        font-size: 3.2rem;
    }

    main .entrada-contenedor .texto-entrada-cont h2 {
        font-size: 2.8rem;
    }

    main .entrada-contenedor .texto-entrada-cont img {
        width: 40rem;
    }

    main section .texto-entrada-cont .espum-cont {
        font-size: 1rem;
        margin-bottom: 2.4rem;
    }
    
    main section .texto-entrada-cont .pasos-cont{
        max-width: 100%;
    }

    main section .texto-entrada-cont .boton-contacto-cont{
        margin-top: 6.2rem;
    }

    main section .texto-entrada-cont .boton-contacto-cont a{
        font-size: 3.2rem;
        padding: 1.8rem 2.4rem;
    }

    /*About 5sFOAM*/

    main .about-container {
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    main .about-container .about-width {
        width: 90%;
        margin: 0 auto;
    }

    main .about-container .about-title-cont {
        width: 100%;
        position: relative;
        margin-bottom: 4.8rem;
        background-color: #ec3336;
    }
    
    .about-container .title-cont {
        width: 90%;
        padding: 1.6rem;
        position: relative;
        left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }    

    main .about-container .about-title-cont h1, h2 {
        font-size: 8rem;
        align-self: center;
    }

    .about-container .title-cont h2{
        position: relative;
        z-index: 1;
        word-spacing: 0.1rem;
        letter-spacing: 2px;
        font-size: 6.8rem;
        align-self: center;
    }

    .triangle svg {
        position: relative;
        display: block;
        width: calc(100% + 960.3px);
        height: 25.9rem;
      }
        
    main .about-container .about-text {
        padding-right: 3.2rem;
    }

    main .about-container .about-text-cont{
        flex-direction: row;
    }

    .about-container .about-text-cont .about-text p{
        font-size: 2.4rem;
    }

    main .about-container .about-text-cont .about-text {
        width: 45%;
    }

    .about-container .about-text h2 {
        font-size: 4rem;
        text-transform: uppercase;
    }

    .about-container .about-text .benefit-cont h2 {
        padding-right: 0;
    }

    .about-container .benefit-cont .orga-title {
        font-size: 4rem;
        top: 0;
    }

    .benefit-cont {
        margin-bottom: 6.4rem;
        padding: 4rem;
        width: 80%;
    }

    .org-cont {
        background-position-x: calc(155%);
        background-position-y: calc(50%);
        background-repeat: no-repeat;
        background-size: 35rem;
    }
    
    .vers-cont {
        background-position-x: calc(145%);
        background-position-y: calc(50%);
        background-repeat: no-repeat;
        background-size: 35rem;
    }
    
    .res-cont {
        background-position-x: calc(275%);
        background-position-y: calc(0%);
        background-repeat: no-repeat;
        background-size: 45rem;
        margin-bottom: 0;
    }

    .benefit-cont h2 {
        font-size: large;
        position: relative;
        top: 0;
    }

    .benefit-cont figure {
        display: flex;
    }

    .benefit-cont img {
        width: 5rem;
        height: 100%;
        align-items: center;
    }

    .benefit-cont:hover {
        transform: scale(1.12);
        transition: all ease-out 150ms;
    }

    main .about-container .about-text-cont .about-imgs-cont {
        width: 55%;
        height: auto;

        position: relative;
        z-index: 1;
        justify-content: center;
    }

    main .about-container .about-text-cont .about-imgs-cont figure {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    main .about-container .about-text-cont .about-imgs-cont figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    main .about-container .about-imgs-cont {
        margin-top: 0;
    }

    .about-container .img-gal1 {
        display: flex;
        border: none;
    }
    
    .about-container .img-gal2 {
        display: flex;
    }
    
    .about-container .img-gal3 {
        display: flex;
    }
    
    .about-container .img-gal4 {
        display: flex;
    }

    main .about-container .about-imgs-cont {
        width: 90%;
        height: 50%;
        margin: 0 auto;
        display: grid;
        font-size: 1.5rem;
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-row-gap: 1.6rem;
        grid-column-gap: 1.6rem;
        justify-items: center;
    
    }

    main .about-container .about-text-cont .about-imgs-cont figure {
    object-fit: cover;
    -webkit-box-shadow: -17px -13px 73px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -17px -13px 73px -13px rgba(0,0,0,0.75);
    box-shadow: -17px -13px 73px -13px rgba(0,0,0,0.75);
}
    
    .about-imgs-cont figure {
        width: 100%;
        height: 20rem;
        object-fit: cover;
        overflow: hidden;
        border: dashed #fff 3.5px;
    }
    
    .about-imgs-cont img {
            width: 100%;
            height: 100%;
            transition: all 0.3s ease;
    }

    .about-imgs-cont img:hover {
        filter:contrast(80%);
        transform: scale(1.1);
        cursor: pointer;
    }
    
    .preview-box {
        position: fixed;
        max-width: 60%;
        width: 100%;
        height: 100%;
        padding: 0 0.5rem 0.5rem 0.5rem;
        border: 0.3rem;
    }

    .preview-box .image {
        width: 100%;
    }

    .boton-galeria-cont {
        display: flex;

        width: 40%;
        justify-content: center;
        margin-bottom: 0;
    }

    .about-container span {
        display: flex;
        text-transform: uppercase;
        font-weight: bold;

        align-self: center;
        font-size: 3rem;
        padding-right: 0.8rem;
    }

    main .about-container .boton-galeria-cont {
        margin-top: 3.2rem;
        width: 45%;
        position: relative;
        left: 50%;
        justify-content: end;
        margin-bottom: 0;
    }

    main .about-container .boton-galeria-cont a{
        font-size: 3.2rem;
        padding: 1.6rem 2.4rem; 
        margin-bottom: -5rem;

    }

    .benefits-container .benefits-title-cont h2{
        width: 90%;
        position: relative;
        left: 5%;
    }
}

@media screen and (min-width:1920px){

    main .entrada-contenedor {
        padding-bottom: 4.8rem;
    }

    main .entrada-contenedor .back-video {
        height: 81rem;
    }

    main .about-container .about-title-cont h1, h2 {
        font-size: 8.6rem;
        align-self: center;
    }

    main .about-container .about-title-cont h2 {
        font-size: 6rem;
    }


    .about-container .res-cont {
        background-image: url('../imgs/prot-back-icon-black.svg');
        background-position-x: calc(140%);
        background-position-y: calc(50%);
        background-repeat: no-repeat;
        background-size: 35rem;
    }
}